name: coverage
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6.0.0
        with:
          python-version: "${{ matrix.python }}"
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.2
        with:
          version: "0.9.7"
      - name: Install dependencies for test
        run: |
          uv venv .venv
          make setup
          make setup_test
      - name: Unit test and coverage
        run: |
          source .venv/bin/activate
          make coverage
      - name: Coveralls upload
        uses: coverallsapp/github-action@v2.3.6
        if: "${{ success() }}"
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          flag-name: "python-${{ matrix.python }}"
          parallel: true
          format: cobertura
          files: test-reports/cobertura.xml
    strategy:
      matrix:
        python:
        - '3.10.19'
        - '3.13.9'
        - 'pypy3.10'
  complete:
    runs-on: ubuntu-latest
    needs: [test]
    if: always()
    steps:
      - name: Close parallel Coveralls build
        uses: coverallsapp/github-action@v2.3.6
        if: "${{ success() }}"
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          parallel-finished: true
